.contact-body {
    height: 1400px;
    display: flex;
}

.contact-block {
    flex: 0 1 60%;
    // border: 1px solid red;

}

.contact-map {
    flex: 0 1 40%;
    // border: 1px solid green;
}


.container {
    // max-width: 400px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    // background: black;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 35px 0 15px;
    display: block;
    font-size: 13px;
    color: rgba(89, 89, 89, .61);
}
#contact h5 {
    margin: 35px 0 15px;
    display: block;
    font-size: 12px;
    color: rgba(89, 89, 89, .61);
    opacity: .7;
    margin-top: -5px;
}

fieldset {
    // border: medium none !important;
    margin: 0 0 10px;
    // min-width: 100%;
    padding: 0;
    // width: 100%;
}

.contact-name {
    display: flex;
    gap: 16px;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    // border: 1px solid red;
}

.contact-name__subname {
    width: 100%;
    font-size: 12px;
    color: rgba(89, 89, 89, .61);
    display: flex;
    flex-direction: column;
    & span {
        margin-top: 5px;
        // margin-bottom: 40px;
    }
}

#contact input[type="text"] {
    width: 100%;
    border: 2px solid #CCC;
    // background: #DCDCDC;
    margin: 0 0 5px;
    padding: 10px;
    flex: 0 1 50%;
}


#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 2px solid #CCC;
    // background: #DCDCDC;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    // -webkit-transition: border-color 0.3s ease-in-out;
    // -moz-transition: border-color 0.3s ease-in-out;
    // transition: border-color 0.3s ease-in-out;
    // border: 2px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: gold;
    color: black;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 2px solid #000;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.checkbox {
    display: flex;
    flex-direction: column;
}