.main {
    // border: 1px solid red;
}

.main-block {
    // border: 1px solid red;
    // margin-top: 600px;
}

.main-top__image {
    background: url('../img/bg01.jpg')0 0/auto auto no-repeat;
    background-position: top;
    background-size: 100%;
    height: 850px;
    // position: relative;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    width: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    & span {

        // color: $mainTitleColor;
        // font-family: "Playfair Display";
        font-family: "Poppins";
        // position: absolute;
        // margin-top: 550px;
        // top: 50%;
        color: rgba(228, 141, 12, .85);
        font-style: normal;
        font-weight: 800;
        // font-size: 40px;
        @include adaptiveValue("font-size", 40, 16);
        letter-spacing: .26em;
        line-height: 1em;
        text-transform: uppercase;
        // border: 1px solid red;
    }
}

.main-first {
    // position: absolute;
    margin-top: 600px;
    // background-color: var(--backgroundColor);
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
}

.main-first__top {}

.top-first {}

.top-first__body {
    display: flex;
}

.top-first__body-image {
    // disp lay: inline;
    flex: 0 1 40%;
    display: flex;
    justify-content: end;
    border: 1px solid green;

    & img {
        width: 300px;
        @include adaptiveValue("width", 300, 150);
        margin: 100px 30px;
        border-radius: 50%;
        object-fit: cover;

    }
}

.top-first__body-text {
    flex: 0 1 60%;
    margin-top: 100px;
    border: 1px solid black;

    & span {
        font-family: "Open Sans";
        color: $mainTitleColor;
        text-transform: uppercase;
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        letter-spacing: .1em;
        line-height: 1em;
        // border: 1px solid red;
    }
}

.top-first__text-top {}

.main-first__bottom {}

.bottom-first {}

.bottom-first__body {}

.bottom-first__body-image {}

.bottom-first__text {}