.quote-top__image {
    @include adaptiveValue("height", 400, 300);
    // height: 600px;
    aspect-ratio: 4 / 2;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    
    &img {
        @include adaptiveValue("height", 600, 370);
        // border: 1px solid red;
        // height: 600px ;
        object-fit: cover;
        background-size: 100% auto !important;
        margin-top: 400px !important;
        
        // aspect-ratio: 4 / 2;
        // width: 80%;
        }
}
